body{
	background-image: url("back2.jpg");
	background-repeat no-repeat;
	background-size: cover;
	font-family: Garamond;
}
h1.tanish{
	text-align: center;
	font-family: Futura;
	font-size: 100px;
	color: #b8d3db;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
div.soc{
	text-align: center;
	font-size: 20px;
	color: #b8d3db;
}
div.links{
	text-align: center;
	font-size: 50px;
	color: #b8d3db;
}
a:link {

	font-size: 50px;
	color: #b8d3db;
	text-decoration: none;
	border-bottom: 2px solid #b8d3db;

}

a:visited {
	text-align: center;
	font-size: 50px;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 2px solid #ffffff;
}

a:hover {
 	text-decoration: none;
 	font-size: 50px;
 	color: #b8d3db;
 	border-bottom: 2px solid #b8d3db;
}

a:active {
 	text-decoration: none;
	font-size: 50px;
	color: #ffffff;
	border-bottom: 2px solid #ffffff;
}
div.mar{
	background-color: #b8d3db;
	color: #000000;
	font-size: 20px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
div.complete{
	background-color: #b8d3db;
	border: 5px solid #b8d3db;
}
h3.subhead{

	text-align: center;
	font-size: 50px;
	color: #000000;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
p.details{
	text-align: left;
	font-size: 30px;

}
img.pic{
	height:238px;
	width: 238px;
	float: right;
	border-radius: 50%;
	border: 2px solid black;
}
img.pic2{
	height:238px;
	width: 238px;
	float: right;
	border-radius: 50%;
	border: 2px solid black;
}
