body{
	background: url(background.jpg);
}
.style{
	font-size: 20px;
}
td{
	width: 400px;
	height: 280px;padding:10px;font-size: 30px;color:black;
	font-weight: 800px;
}
table{
	border: 2px solid black;
	padding top bottom: 10px;padding right left:20px;
	margin: 20px auto;
}
a:hover{
	color: red;
}
.verticle{
	border-right: 2px solid black;
}
.horizontal{
	border-bottom: 2px solid black;
}
div{
	color: #78438c;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}
/*#hobbies{
	background: url(travel.jpg);
    background-size: cover;
}
	/*#skills{background: #6bfdff}
#dreams{background: #ff96ec}
#contact{background: #95fc7c}
